body{
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Inconsolata', monospace;
    font-family: 'Noto Sans Thai', sans-serif;
}
.bt5{
    color: rgb(255, 115, 33);
}
.calendar-text{
    color: black;
    margin-top: 100px;
}
.calendar-box{
    margin-top: 30px;
}
.footer-box{
    margin-top: 1000px;
}
@media screen and (max-width: 767px){
    .nav{
        font-size: 14px;
        text-align: center;
        flex-direction:column;
        width: 100%;
    }
    ul{
        text-align: center;
        flex-direction: column;
    }
    .csitlogo{
        align-items: center;
        margin-right: 55px;
    }
}