.bt4{
    color: rgb(255, 115, 33);;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 300px;
    height: 500px;
}
.box-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-bottom: 50px;
    width: 500px;
}
.text-item{
    font-size: 13px;
}
@media screen and (max-width: 767px){
    .nav{
        font-size: 14px;
        text-align: center;
        flex-direction:column;
        width: 100%;
    }
    ul{
        text-align: center;
        flex-direction: column;
    }
    .csitlogo{
        align-items: center;
        margin-right: 55px;
    }
    .box{
        height: 1700px;
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .box-item{
        width: 500px;
        grid-template-columns: 1fr;
    }
}